In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
ls

__notebook__.ipynb

In [3]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
# modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import StandardScaler    

# for modeling
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.callbacks import EarlyStopping

In [6]:
# first, delete the cabin column
train_data.drop(['Cabin'], axis=1, inplace=True)

# now impute the 'Age' column
train_data['Age'].fillna(train_data['Age'].mean(), inplace=True)

# now ditch the two rows from 'Embarked'
train_data.fillna(0,inplace=True)

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [7]:
# drop unncessary columns from train and testdf
train_data.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)

# recode the sex column
train_data['Sex'].replace(('male', 'female'), (0, 1), inplace=True)

# recode the embarked column
train_data['Embarked'].replace(('Q', 'S', 'C'), (0, 1, 2), inplace=True)

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

In [8]:
# check distribution of target variable
train_data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [9]:
# split into X and Y
Y = train_data['Survived']
X = train_data.drop(['Survived'], axis=1)

print(X.shape)
print(Y.shape)

# convert to numpy arrays
X = np.array(X)

(891, 7)
(891,)

In [10]:
st_x= StandardScaler()    
x= st_x.fit_transform(X)

In [11]:
# build a model
model = Sequential()
model.add(Dense(24, input_shape=(x.shape[1],), activation='relu')) # Add an input shape! (features,)
model.add(Dense(24, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary() 

# compile the model
model.compile(optimizer='Adam', 
              loss='binary_crossentropy',
              metrics=['accuracy'])

# early stopping callback
# This callback will stop the training when there is no improvement in  
# the validation loss for 10 consecutive epochs.  
es = EarlyStopping(monitor='val_accuracy', 
                                   mode='max', # don't minimize the accuracy!
                                   patience=15,
                                   restore_best_weights=True)

# now we just update our model fit call
history = model.fit(x,
                    Y,
                    callbacks=[es],
                    epochs=80, # you can set this to a big number!
                    batch_size=10,
                    validation_split=0.2,
                    shuffle=True,
                    verbose=1)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 24)                192
_________________________________________________________________
dense_1 (Dense)              (None, 24)                600
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 25
=================================================================
Total params: 817
Trainable params: 817
Non-trainable params: 0
_________________________________________________________________

2022-09-08 10:02:58.349850: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.
2022-09-08 10:02:58.542577: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/80
72/72 [==============================] - 1s 5ms/step - loss: 0.6133 - accuracy: 0.7303 - val_loss: 0.4947 - val_accuracy: 0.8436
Epoch 2/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4919 - accuracy: 0.7963 - val_loss: 0.4033 - val_accuracy: 0.8547
Epoch 3/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4525 - accuracy: 0.8104 - val_loss: 0.3779 - val_accuracy: 0.8547
Epoch 4/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4405 - accuracy: 0.8090 - val_loss: 0.3681 - val_accuracy: 0.8547
Epoch 5/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4340 - accuracy: 0.8062 - val_loss: 0.3622 - val_accuracy: 0.8547
Epoch 6/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4275 - accuracy: 0.8076 - val_loss: 0.3587 - val_accuracy: 0.8547
Epoch 7/80
72/72 [==============================] - 0s 3ms/step - loss: 0.4248 - accuracy: 0.8118 - val_loss: 0.3556 - val_accuracy: 0.8547
Epoch 8/80
72/72 [==============================] - 0s 3ms/step - loss: 0.4206 - accuracy: 0.8104 - val_loss: 0.3517 - val_accuracy: 0.8603
Epoch 9/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4184 - accuracy: 0.8146 - val_loss: 0.3500 - val_accuracy: 0.8603
Epoch 10/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4176 - accuracy: 0.8090 - val_loss: 0.3501 - val_accuracy: 0.8547
Epoch 11/80
72/72 [==============================] - 0s 3ms/step - loss: 0.4130 - accuracy: 0.8160 - val_loss: 0.3448 - val_accuracy: 0.8659
Epoch 12/80
72/72 [==============================] - 0s 3ms/step - loss: 0.4127 - accuracy: 0.8160 - val_loss: 0.3428 - val_accuracy: 0.8771
Epoch 13/80
72/72 [==============================] - 0s 3ms/step - loss: 0.4098 - accuracy: 0.8174 - val_loss: 0.3426 - val_accuracy: 0.8659
Epoch 14/80
72/72 [==============================] - 0s 3ms/step - loss: 0.4093 - accuracy: 0.8244 - val_loss: 0.3455 - val_accuracy: 0.8603
Epoch 15/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8188 - val_loss: 0.3403 - val_accuracy: 0.8771
Epoch 16/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4042 - accuracy: 0.8230 - val_loss: 0.3391 - val_accuracy: 0.8603
Epoch 17/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4045 - accuracy: 0.8301 - val_loss: 0.3379 - val_accuracy: 0.8771
Epoch 18/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4026 - accuracy: 0.8272 - val_loss: 0.3355 - val_accuracy: 0.8827
Epoch 19/80
72/72 [==============================] - 0s 3ms/step - loss: 0.4003 - accuracy: 0.8244 - val_loss: 0.3373 - val_accuracy: 0.8883
Epoch 20/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4000 - accuracy: 0.8329 - val_loss: 0.3387 - val_accuracy: 0.8827
Epoch 21/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.8258 - val_loss: 0.3396 - val_accuracy: 0.8715
Epoch 22/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3959 - accuracy: 0.8329 - val_loss: 0.3417 - val_accuracy: 0.8883
Epoch 23/80
72/72 [==============================] - 0s 3ms/step - loss: 0.3960 - accuracy: 0.8315 - val_loss: 0.3390 - val_accuracy: 0.8883
Epoch 24/80
72/72 [==============================] - 0s 3ms/step - loss: 0.3938 - accuracy: 0.8329 - val_loss: 0.3366 - val_accuracy: 0.8771
Epoch 25/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3927 - accuracy: 0.8301 - val_loss: 0.3363 - val_accuracy: 0.8659
Epoch 26/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3922 - accuracy: 0.8371 - val_loss: 0.3357 - val_accuracy: 0.8771
Epoch 27/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3902 - accuracy: 0.8329 - val_loss: 0.3330 - val_accuracy: 0.8603
Epoch 28/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3887 - accuracy: 0.8287 - val_loss: 0.3400 - val_accuracy: 0.8659
Epoch 29/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3882 - accuracy: 0.8343 - val_loss: 0.3358 - val_accuracy: 0.8603
Epoch 30/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3874 - accuracy: 0.8301 - val_loss: 0.3354 - val_accuracy: 0.8659
Epoch 31/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3867 - accuracy: 0.8329 - val_loss: 0.3430 - val_accuracy: 0.8771
Epoch 32/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3866 - accuracy: 0.8371 - val_loss: 0.3359 - val_accuracy: 0.8603
Epoch 33/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3853 - accuracy: 0.8315 - val_loss: 0.3347 - val_accuracy: 0.8659
Epoch 34/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3842 - accuracy: 0.8329 - val_loss: 0.3430 - val_accuracy: 0.8715

In [12]:
xii = test_data.iloc[:,[1,3,4,5,6,8,10]]
xii.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [13]:
# now impute the 'Age' column
xii['Age'].fillna(xii['Age'].mean(), inplace=True)

# now ditch the two rows from 'Embarked'
xii.fillna(0,inplace=True)

xii.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [14]:
# recode the sex column
xii['Sex'].replace(('male', 'female'), (0, 1), inplace=True)

# recode the embarked column
xii['Embarked'].replace(('Q', 'S', 'C'), (0, 1, 2), inplace=True)

xii.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    int64
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 23.0 KB

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [15]:
# split into X and Y
Xt = xii
print(Xt.shape)

# convert to numpy arrays
Xt = np.array(Xt)

(418, 7)

In [16]:
x_test= st_x.fit_transform(Xt)

In [17]:
y_pred = np.round(model.predict(x_test),0)

In [18]:
np.shape(y_pred)

(418, 1)

In [19]:
y_pred1 = np.reshape(y_pred,418)

In [20]:
y_pred1 =y_pred1.astype(int)

In [21]:
y_pred1

array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

In [22]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': y_pred1})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [23]:
pd.read_csv('submission.csv')

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]