In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
ls

__notebook__.ipynb

In [3]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
# modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import StandardScaler    

# for modeling
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.callbacks import EarlyStopping

In [6]:
# first, delete the cabin column
train_data.drop(['Cabin'], axis=1, inplace=True)

# now impute the 'Age' column
train_data['Age'].fillna(train_data['Age'].mean(), inplace=True)

# now ditch the two rows from 'Embarked'
train_data.fillna(0,inplace=True)

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [7]:
# drop unncessary columns from train and testdf
train_data.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)

# recode the sex column
train_data['Sex'].replace(('male', 'female'), (0, 1), inplace=True)

# recode the embarked column
train_data['Embarked'].replace(('Q', 'S', 'C'), (0, 1, 2), inplace=True)

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

In [8]:
# check distribution of target variable
train_data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [9]:
# split into X and Y
Y = train_data['Survived']
X = train_data.drop(['Survived'], axis=1)

print(X.shape)
print(Y.shape)

# convert to numpy arrays
X = np.array(X)

(891, 7)
(891,)

In [10]:
st_x= StandardScaler()    
x= st_x.fit_transform(X)

In [11]:
# build a model
model = Sequential()
model.add(Dense(16, input_shape=(x.shape[1],), activation='relu')) # Add an input shape! (features,)
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary() 

# compile the model
model.compile(optimizer='Adam', 
              loss='binary_crossentropy',
              metrics=['accuracy'])

# early stopping callback
# This callback will stop the training when there is no improvement in  
# the validation loss for 10 consecutive epochs.  
es = EarlyStopping(monitor='val_accuracy', 
                                   mode='max', # don't minimize the accuracy!
                                   patience=12,
                                   restore_best_weights=True)

# now we just update our model fit call
history = model.fit(x,
                    Y,
                    callbacks=[es],
                    epochs=80, # you can set this to a big number!
                    batch_size=10,
                    validation_split=0.2,
                    shuffle=True,
                    verbose=1)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                128
_________________________________________________________________
dense_1 (Dense)              (None, 16)                272
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 17
=================================================================
Total params: 417
Trainable params: 417
Non-trainable params: 0
_________________________________________________________________

2022-09-07 05:49:11.561876: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.
2022-09-07 05:49:11.746428: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/80
72/72 [==============================] - 1s 5ms/step - loss: 0.7033 - accuracy: 0.4677 - val_loss: 0.6685 - val_accuracy: 0.6480
Epoch 2/80
72/72 [==============================] - 0s 2ms/step - loss: 0.6033 - accuracy: 0.7612 - val_loss: 0.5438 - val_accuracy: 0.7765
Epoch 3/80
72/72 [==============================] - 0s 2ms/step - loss: 0.5273 - accuracy: 0.7753 - val_loss: 0.4681 - val_accuracy: 0.8101
Epoch 4/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4879 - accuracy: 0.7978 - val_loss: 0.4292 - val_accuracy: 0.8324
Epoch 5/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4662 - accuracy: 0.8006 - val_loss: 0.4094 - val_accuracy: 0.8268
Epoch 6/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4562 - accuracy: 0.8006 - val_loss: 0.4016 - val_accuracy: 0.8380
Epoch 7/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4499 - accuracy: 0.8020 - val_loss: 0.3965 - val_accuracy: 0.8380
Epoch 8/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4454 - accuracy: 0.7978 - val_loss: 0.3934 - val_accuracy: 0.8380
Epoch 9/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4412 - accuracy: 0.8034 - val_loss: 0.3909 - val_accuracy: 0.8324
Epoch 10/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4371 - accuracy: 0.8104 - val_loss: 0.3904 - val_accuracy: 0.8324
Epoch 11/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4350 - accuracy: 0.8048 - val_loss: 0.3877 - val_accuracy: 0.8324
Epoch 12/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.8048 - val_loss: 0.3842 - val_accuracy: 0.8268
Epoch 13/80
72/72 [==============================] - 0s 3ms/step - loss: 0.4308 - accuracy: 0.8048 - val_loss: 0.3834 - val_accuracy: 0.8268
Epoch 14/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4297 - accuracy: 0.8020 - val_loss: 0.3832 - val_accuracy: 0.8268
Epoch 15/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4280 - accuracy: 0.8006 - val_loss: 0.3794 - val_accuracy: 0.8380
Epoch 16/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4255 - accuracy: 0.8062 - val_loss: 0.3776 - val_accuracy: 0.8436
Epoch 17/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4231 - accuracy: 0.8160 - val_loss: 0.3773 - val_accuracy: 0.8268
Epoch 18/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4234 - accuracy: 0.8076 - val_loss: 0.3747 - val_accuracy: 0.8324
Epoch 19/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4202 - accuracy: 0.8132 - val_loss: 0.3751 - val_accuracy: 0.8268
Epoch 20/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4180 - accuracy: 0.8132 - val_loss: 0.3713 - val_accuracy: 0.8324
Epoch 21/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4177 - accuracy: 0.8034 - val_loss: 0.3681 - val_accuracy: 0.8380
Epoch 22/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4163 - accuracy: 0.8062 - val_loss: 0.3679 - val_accuracy: 0.8380
Epoch 23/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4157 - accuracy: 0.8090 - val_loss: 0.3675 - val_accuracy: 0.8324
Epoch 24/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4140 - accuracy: 0.8146 - val_loss: 0.3688 - val_accuracy: 0.8324
Epoch 25/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4136 - accuracy: 0.8146 - val_loss: 0.3674 - val_accuracy: 0.8268
Epoch 26/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4134 - accuracy: 0.8160 - val_loss: 0.3667 - val_accuracy: 0.8212
Epoch 27/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4118 - accuracy: 0.8118 - val_loss: 0.3646 - val_accuracy: 0.8380
Epoch 28/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4101 - accuracy: 0.8230 - val_loss: 0.3648 - val_accuracy: 0.8492
Epoch 29/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4091 - accuracy: 0.8146 - val_loss: 0.3636 - val_accuracy: 0.8380
Epoch 30/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4089 - accuracy: 0.8160 - val_loss: 0.3620 - val_accuracy: 0.8380
Epoch 31/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4071 - accuracy: 0.8202 - val_loss: 0.3614 - val_accuracy: 0.8436
Epoch 32/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4059 - accuracy: 0.8244 - val_loss: 0.3601 - val_accuracy: 0.8547
Epoch 33/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4058 - accuracy: 0.8216 - val_loss: 0.3614 - val_accuracy: 0.8547
Epoch 34/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4046 - accuracy: 0.8301 - val_loss: 0.3576 - val_accuracy: 0.8436
Epoch 35/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4047 - accuracy: 0.8188 - val_loss: 0.3589 - val_accuracy: 0.8492
Epoch 36/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8315 - val_loss: 0.3587 - val_accuracy: 0.8492
Epoch 37/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4035 - accuracy: 0.8216 - val_loss: 0.3551 - val_accuracy: 0.8547
Epoch 38/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4010 - accuracy: 0.8272 - val_loss: 0.3547 - val_accuracy: 0.8659
Epoch 39/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4026 - accuracy: 0.8202 - val_loss: 0.3548 - val_accuracy: 0.8603
Epoch 40/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4010 - accuracy: 0.8272 - val_loss: 0.3577 - val_accuracy: 0.8547
Epoch 41/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4007 - accuracy: 0.8230 - val_loss: 0.3560 - val_accuracy: 0.8603
Epoch 42/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3991 - accuracy: 0.8329 - val_loss: 0.3542 - val_accuracy: 0.8547
Epoch 43/80
72/72 [==============================] - 0s 2ms/step - loss: 0.4003 - accuracy: 0.8244 - val_loss: 0.3525 - val_accuracy: 0.8547
Epoch 44/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3988 - accuracy: 0.8315 - val_loss: 0.3527 - val_accuracy: 0.8603
Epoch 45/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3977 - accuracy: 0.8272 - val_loss: 0.3538 - val_accuracy: 0.8603
Epoch 46/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3981 - accuracy: 0.8287 - val_loss: 0.3576 - val_accuracy: 0.8603
Epoch 47/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3968 - accuracy: 0.8315 - val_loss: 0.3523 - val_accuracy: 0.8603
Epoch 48/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3962 - accuracy: 0.8371 - val_loss: 0.3562 - val_accuracy: 0.8659
Epoch 49/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3950 - accuracy: 0.8343 - val_loss: 0.3519 - val_accuracy: 0.8603
Epoch 50/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3950 - accuracy: 0.8301 - val_loss: 0.3525 - val_accuracy: 0.8715
Epoch 51/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3938 - accuracy: 0.8371 - val_loss: 0.3529 - val_accuracy: 0.8715
Epoch 52/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3925 - accuracy: 0.8385 - val_loss: 0.3518 - val_accuracy: 0.8715
Epoch 53/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3922 - accuracy: 0.8357 - val_loss: 0.3509 - val_accuracy: 0.8715
Epoch 54/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3923 - accuracy: 0.8329 - val_loss: 0.3500 - val_accuracy: 0.8715
Epoch 55/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3915 - accuracy: 0.8329 - val_loss: 0.3547 - val_accuracy: 0.8659
Epoch 56/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3924 - accuracy: 0.8315 - val_loss: 0.3517 - val_accuracy: 0.8715
Epoch 57/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3907 - accuracy: 0.8329 - val_loss: 0.3541 - val_accuracy: 0.8659
Epoch 58/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3893 - accuracy: 0.8244 - val_loss: 0.3489 - val_accuracy: 0.8659
Epoch 59/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3914 - accuracy: 0.8343 - val_loss: 0.3514 - val_accuracy: 0.8659
Epoch 60/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.8385 - val_loss: 0.3529 - val_accuracy: 0.8603
Epoch 61/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3892 - accuracy: 0.8399 - val_loss: 0.3490 - val_accuracy: 0.8715
Epoch 62/80
72/72 [==============================] - 0s 2ms/step - loss: 0.3874 - accuracy: 0.8385 - val_loss: 0.3524 - val_accuracy: 0.8659

In [12]:
xii = test_data.iloc[:,[1,3,4,5,6,8,10]]
xii.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [13]:
# now impute the 'Age' column
xii['Age'].fillna(xii['Age'].mean(), inplace=True)

# now ditch the two rows from 'Embarked'
xii.fillna(0,inplace=True)

xii.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [14]:
# recode the sex column
xii['Sex'].replace(('male', 'female'), (0, 1), inplace=True)

# recode the embarked column
xii['Embarked'].replace(('Q', 'S', 'C'), (0, 1, 2), inplace=True)

xii.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    int64
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 23.0 KB

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [15]:
# split into X and Y
Xt = xii
print(Xt.shape)

# convert to numpy arrays
Xt = np.array(Xt)

(418, 7)

In [16]:
x_test= st_x.fit_transform(Xt)

In [17]:
y_pred = np.round(model.predict(x_test),0)

In [18]:
np.shape(y_pred)

(418, 1)

In [19]:
y_pred1 = np.reshape(y_pred,418)

In [20]:
y_pred1 =y_pred1.astype(int)

In [21]:
y_pred1

array([0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

In [22]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': y_pred1})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [23]:
pd.read_csv('submission.csv')

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]