In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
ls

__notebook__.ipynb

In [3]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()

In [6]:
xi = train_data.iloc[:,[1,2,4,5,6,7,9,11]]
xi.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [7]:
xi[['Pclass','Age','SibSp','Parch','Fare']] = xi[['Pclass','Age','SibSp','Parch','Fare']].fillna(0)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [8]:
y = xi.iloc[:,0].values

In [9]:
x1 = xi.iloc[:,[1,2,3,4,5,6,7]]

In [10]:
x1.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [11]:
le = LabelEncoder()
label = le.fit_transform(x1['Sex'])

In [12]:
x1.drop("Sex", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
x1["Sex"] = label
 
# printing Dataframe
x1.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Pclass   Age  SibSp  Parch     Fare Embarked  Sex
0       3  22.0      1      0   7.2500        S    1
1       1  38.0      1      0  71.2833        C    0
2       3  26.0      0      0   7.9250        S    0
3       1  35.0      1      0  53.1000        S    0
4       3  35.0      0      0   8.0500        S    1

In [13]:
le = LabelEncoder()
label = le.fit_transform(x1['Embarked'])

In [14]:
x1.drop("Embarked", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
x1["Embarked"] = label
 
# printing Dataframe
x1.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Pclass   Age  SibSp  Parch     Fare  Sex  Embarked
0       3  22.0      1      0   7.2500    1         2
1       1  38.0      1      0  71.2833    0         0
2       3  26.0      0      0   7.9250    0         2
3       1  35.0      1      0  53.1000    0         2
4       3  35.0      0      0   8.0500    1         2

In [15]:
x1["Age"]=x1["Age"].astype(int)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
x = x1.values

In [17]:
x[0:5,]

array([[ 3.    , 22.    ,  1.    ,  0.    ,  7.25  ,  1.    ,  2.    ],
       [ 1.    , 38.    ,  1.    ,  0.    , 71.2833,  0.    ,  0.    ],
       [ 3.    , 26.    ,  0.    ,  0.    ,  7.925 ,  0.    ,  2.    ],
       [ 1.    , 35.    ,  1.    ,  0.    , 53.1   ,  0.    ,  2.    ],
       [ 3.    , 35.    ,  0.    ,  0.    ,  8.05  ,  1.    ,  2.    ]])

In [18]:
x_train= st_x.fit_transform(x)

In [19]:
model = LogisticRegression(solver='liblinear',C = 1, random_state=0)

In [20]:
model.fit(x_train,y)

LogisticRegression(C=1, random_state=0, solver='liblinear')

In [21]:
xii = test_data.iloc[:,[1,3,4,5,6,8,10]]
xii.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [22]:
xii[['Pclass','Age','SibSp','Parch','Fare']] = xii[['Pclass','Age','SibSp','Parch','Fare']].fillna(0)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [23]:
x2 = xii.iloc[:,[0,1,2,3,4,5,6]]

In [24]:
x2.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [25]:
le = LabelEncoder()
label = le.fit_transform(x2['Sex'])

In [26]:
x2.drop("Sex", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
x2["Sex"] = label
 
# printing Dataframe
x2.head()

   Pclass   Age  SibSp  Parch     Fare Embarked  Sex
0       3  34.5      0      0   7.8292        Q    1
1       3  47.0      1      0   7.0000        S    0
2       2  62.0      0      0   9.6875        Q    1
3       3  27.0      0      0   8.6625        S    1
4       3  22.0      1      1  12.2875        S    0

In [27]:
le = LabelEncoder()
label = le.fit_transform(x2['Embarked'])

In [28]:
x2.drop("Embarked", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
x2["Embarked"] = label
 
# printing Dataframe
x2.head()

   Pclass   Age  SibSp  Parch     Fare  Sex  Embarked
0       3  34.5      0      0   7.8292    1         1
1       3  47.0      1      0   7.0000    0         2
2       2  62.0      0      0   9.6875    1         1
3       3  27.0      0      0   8.6625    1         2
4       3  22.0      1      1  12.2875    0         2

In [29]:
x2["Age"]=x2["Age"].astype(int)

In [30]:
x_test=x2.values
x_test[0:5,:]

array([[ 3.    , 34.    ,  0.    ,  0.    ,  7.8292,  1.    ,  1.    ],
       [ 3.    , 47.    ,  1.    ,  0.    ,  7.    ,  0.    ,  2.    ],
       [ 2.    , 62.    ,  0.    ,  0.    ,  9.6875,  1.    ,  1.    ],
       [ 3.    , 27.    ,  0.    ,  0.    ,  8.6625,  1.    ,  2.    ],
       [ 3.    , 22.    ,  1.    ,  1.    , 12.2875,  0.    ,  2.    ]])

In [31]:
y_pred= model.predict(x_test)  
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': y_pred})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [32]:
!ls

__notebook__.ipynb  submission.csv